<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="index.aspx" />
        <add value="index.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="home.aspx" />
        <add value="home.asp" />
        <add value="home.htm" />
        <add value="home.html" />
        <add value="default.aspx" />
        <add value="default.asp" />
        <add value="default.htm" />
        <add value="default.html" />
      </files>
    </defaultDocument>
    <staticContent>
      <clientCache cacheControlCustom="public" cacheControlMaxAge="1.00:00:00" cacheControlMode="UseMaxAge" />
    </staticContent>
    <security>
      <authentication>
        <basicAuthentication enabled="true" />
      </authentication>
    </security>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/error404.html" responseMode="ExecuteURL" />
      <remove statusCode="403" />
      <error statusCode="403" prefixLanguageFilePath="" path="/error403.html" responseMode="ExecuteURL" />
      <remove statusCode="500" />
      <error statusCode="500" prefixLanguageFilePath="" path="/error500.html" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
</configuration>
